<%# params: @category, @territories %>

<h2><%= @category.name %></h2>
<div class="data-with-map" data-controller="territory">
  <div class="data">
    <h1><%= TerritoryCategory.model_name.human %></h1>
    <dl>
      <dt><%= TerritoryCategory.human_attribute_name(:revision) %></dt>
      <dd><%= @category.revision %></dd>
    </dl>
    <ul>
      <% @territories.each do |territory| %>
        <li>
          <%= link_to territory.name, territory %> (<%= territory.code %>)
          <%= render partial: "territories/geometry", object: territory %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="map" data-territory-target="map">
  </div>
</div>
