<div class="centered-main">
<h2>Connexion</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :"mot de passe" %><br>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :"se souvenir de moi" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Connexion", class: "submit_form" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
