<%# params: @layer, @session_id, @user_name %>

<%= turbo_stream_from @layer %>
<div
  class="data-with-map"
  data-action="mousemove@window->dragbar#mousemove mouseup@document->dragbar#mouseup"
  data-controller="map dragbar"
  data-map-editable-value="true"
  data-map-layer-id-value="<%= @layer.id %>"
  data-map-session-id-value="<%= @session_id %>"
  data-map-username-value="<%= @user_name %>"
  data-map-geometry-type-value="<%= @layer.geometry_type %>"
  data-map-color-value="<%= @layer.color %>"
  data-map-xmin-value="<%= @layer.rows.bbox.xmin %>"
  data-map-xmax-value="<%= @layer.rows.bbox.xmax %>"
  data-map-ymin-value="<%= @layer.rows.bbox.ymin %>"
  data-map-ymax-value="<%= @layer.rows.bbox.ymax %>">
  <div class="data" data-dragbar-target="left">
    <div class="layer-actions">
      <%= link_with_icon t(".map"), @layer.map, "chevron_left.svg" %>
      <%= render "name", layer: @layer %>
      <div class="layer-actions-right">
        <%= link_with_icon t(".export"), geojson_layer_path(@layer), "export.svg", download: "#{@layer.name}.geojson" %>
        <%= link_with_icon t("helpers.link.layer.delete"), @layer, "delete.svg", data: {turbo_method: :delete, turbo_confirm: t("common.confirm")} %>
      </div>
    </div>
    <%= render "rows_rw", layer: @layer %>
    <%= render "tooltip", layer: @layer %>
  </div>
  <div class="dragbar" data-dragbar-target="dragbar" data-action="mousedown->dragbar#mousedown">
    <%= image_tag "dragbar_cursor.svg", class: "svg-dragbar" %>
  </div>
  <div data-dragbar-target="right" class="right-pane">
    <div class="layer-actions-map">
      <%= button_with_icon t("common.frame"), "frame.svg", data: {action: "click->map#centerToContent"} %>
      <%= button_with_icon t("common.colors"), "color.svg", style: "display: none;" %>
      <%= button_with_icon t("common.add"), "add_circle.svg", data: {action: "click->map#changeMode"} %>
    </div>
    <div class="map" data-map-target="map">
    </div>
  </div>
</div>
