<%# params: @layer %>

<%= turbo_stream_from "#{@layer.id}_ro" %>
<div class="data-with-map"
    data-controller="map"
    data-map-geometry-type-value="<%= @layer.geometry_type %>"
    data-map-color-value="<%= @layer.color %>">
  <div class="data">
    <div class="layer-actions">
      <%= link_to t("common.back"), map_path(@layer.map), class: "go-back" %>
      <%= link_to t("common.edit"), edit_layer_path(@layer) %>
    </div>
    <h2><%= "#{Layer.model_name.human} #{@layer.name}" %></h2>
    <%= render "rows_ro", layer: @layer %>
  </div>
  <div class="map" data-map-target="map">
  </div>
</div>
