<%# params: geometry %>

<script
  id="<%= geometry.id %>"
  data-territory-target="geometry"
  data-lng-min="<%= geometry.lng_min %>"
  data-lat-min="<%= geometry.lat_min %>"
  data-lng-max="<%= geometry.lng_max %>"
  data-lat-max="<%= geometry.lat_max %>">
  <%= geometry.geojson.html_safe %>
</script>
