<%# params: search_results %>
<% if search_results.empty? %>
  <em><%= t ".no_result" %> </em>
<% end %>
<ul data-autocomplete-target="suggestionList">
  <% search_results.each do |territory| %>
    <li
      data-autocomplete-target="suggestion"
      data-autocomplete-value-param="<%= territory.name %> (<%= territory.code %>)"
      data-autocomplete-id-param="<%= territory.id %>"
      data-action="click->autocomplete#selected">
      <%= highlight(territory.name, params.dig(:q)) %>
      (<%= territory.code %>)
      <%= territory.parent&.name %>
    </li>
  <% end %>
</ul>
