<%# params: @territory %>

<div class="data-with-map" data-controller="territory">
  <div class="data">
    <h2><%= @territory.name %></h2>
    <dl>
      <dt><%= Territory.human_attribute_name(:code) %></dt>
      <dd><%= @territory.code %></dd>
      <dt><%= TerritoryCategory.model_name.human %></dt>
      <dd><%= link_to @territory.territory_category.name, @territory.territory_category %></dd>
      <dt><%= TerritoryCategory.human_attribute_name(:revision) %></dt>
      <dd><%= @territory.territory_category.revision %></dd>
      <% if @territory.parent %>
        <dt><%= Territory.human_attribute_name(:parent) %></dt>
        <dd><%= link_to @territory.parent.name, @territory.parent %></dd>
      <% end %>
    </dl>
    <%= render partial: "geometry", object: @territory %>
  </div>
  <div class="map" data-territory-target="map">
  </div>
</div>
