@use "dropdown";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  background: var(--color-bg-ambient-10);
}

:root {
  /* AMBIENT COLOR */
  --color-bg-ambient-10: #fffefa;
  --color-bg-ambient-20: #fcfaf3;
  --color-bg-ambient-30: #f7f4eb;
  /* GREY COLOR */
  --color-grey-10: #f7f7f5;
  --color-grey-20: #f0efed;
  --color-grey-30: #e8e7e6;
  --color-grey-40: #d4d3d2;
  --color-grey-50: #afaeaa;
  --color-grey-60: #8e8e8c;
  --color-grey-70: #6b6a68;
  --color-grey-80: #545452;
  --color-grey-90: #3d3d3c;
  --color-grey-100: #212120;
  /* GREEN COLOR */
  --color-green-10: #d7e9dd;
  --color-green-20: #c3dbcb;
  --color-green-30: #a8c9b4;
  --color-green-40: #96baa3;
  --color-green-50: #80a68d;
  --color-green-60: #638e72;
  --color-green-70: #4d7a5d;
  --color-green-80: #376647;
  --color-green-90: #1d4c2e;
  --color-green-100: #0d2e18;
  /* ATTENTION COLOR */
  --color-attention-10: #ffeece;
  --color-attention-20: #fdda94;
  --color-attention-30: #fabc1e;
  --color-attention-40: #915e04;
  /* ERROR COLOR */
  --color-error-10: #ffedee;
  --color-error-20: #fbc5c9;
  --color-error-30: #e62c41;
  --color-error-40: #b01a2b;
  /* INFO COLOR */
  --color-info-10: #d8f0f9;
  --color-info-20: #70caf1;
  --color-info-30: #299ae5;
  --color-info-40: #026ebb;
  /* SUCCES COLOR */
  --color-succes-10: #ecfadc;
  --color-succes-20: #c4ed98;
  --color-succes-30: #8bbd54;
  --color-succes-40: #46790f;
  /* MAIN FONT */
  --font-serif: Georgia, "Times New Roman", Times, serif, Regular;
  --font-sans: Verdana, Geneva, Tahoma, sans-serif;
  --font-mono: Menlo, "DejaVu Sans Mono", monospace;
  /* COLOR TABLE */
  --color-bg: #fff;
  --color-bg-secondary: #e9e9e9;
  --color-text: #000;
  /* MAP SIZE */
  --nav-height: 4.3rem;
  --footer-height: 2.4rem;
  --border-radius: 4px;
}

nav {
  background-color: var(--color-bg-ambient-20);
  display: flex;
  justify-content: space-between;
  font-family: var(--font-serif);
  align-items: center;
  padding: 0 3rem;

  h1 {
    font-weight: lighter;
    a {
      color: var(--color-green-50);
      text-decoration: none;
    }
  }
}

button {
  font-family: var(--font-serif);
}

button:active {
  filter: brightness(0.85);
}

button:hover {
  cursor: pointer;
}

a {
  color: var(--color-green-70);
}

p {
  padding-top: 8px;
  padding-bottom: 8px;
}

a b,
a strong,
button {
  border: none;
  color: var(--color-grey-80);
  outline: none;
}

button:disabled,
input:disabled {
  background: var(--color-bg-ambient-20);
  border-color: var(--color-bg-ambient-20);
  color: var(--color-grey-80);
  cursor: not-allowed;
}

button[disabled]:hover {
  filter: none;
}

form {
  display: block;
  max-width: 460px;
  text-align: left;
}

label {
  margin-bottom: 0.2rem;
  font-family: var(--font-serif);
}

main {
  display: flex;
  padding-bottom: var(--footer-height);
}

h2 {
  text-align: center;
  color: var(--color-green-90);
  margin: 16px;
  margin-top: 0;
}

form header {
  margin: 0.5rem 0;
  padding: 0.5rem 0;
}

input,
label,
select,
textarea {
  display: block;
  font-size: inherit;
  max-width: 460px;
  margin: 8px;
}

input:focus {
  border-color: var(--color-info-30);
  outline: 2px solid var(--color-info-20);
}

input,
select,
textarea {
  border-color: var(--color-grey-50);
  border-width: 1px;
  border-radius: 2px;
  box-shadow: 0px 1px 4px var(--color-grey-40);
  vertical-align: middle;
}

input,
select {
  height: 40px;
}

input:focus {
  border-radius: 2px;
  border: 2px solid rgba(153, 204, 255, 1);
  border: 1px solid var(--color-green-90);
  box-shadow: 0px 0px 5px rgba(20, 136, 243, 0.198171) inset,
    0px 0px 5px rgba(77, 162, 255, 0.4);
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
}

a b,
a em,
a i,
a strong,
button {
  display: inline-block;
  line-height: 1.5;
  margin: 0.5rem 0;
  padding: 0.1rem 0.2rem;
  border: 0;
}

.submit_form {
  background-color: var(--color-green-70);
  border: none;
  color: var(--color-bg);
  line-height: 1.5;
  margin: 0.5rem 0;
  padding: 0.2rem 0.4rem;
  cursor: pointer;
  border-radius: var(--border-radius);
}

.centered-main {
  margin: auto;
  padding: 24px;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline-block;
  align-items: center;
  font-weight: lighter;
  position: relative;
  top: 1px;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  height: 16px;
  width: 16px;
  accent-color: var(--color-green-70);
}

.layer-actions {
  background-color: var(--color-bg-ambient-30);
  border-bottom: solid var(--color-grey-40);
  padding: 1.28em 1em 0.5em 1em;
  margin-bottom: 2em;
  color: var(--color-green-70);
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  a {
    font-size: 10px;
    text-decoration: none;
    background-color: var(--color-bg-ambient-10);
    padding: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-sans);
    max-width: 60px;
    max-height: 44px;
    gap: 0.3em;
  }
  .layer-actions-right {
    display: flex;
    flex-direction: row;
    gap: 0.2em;
  }
}

.layer-actions-map {
  background-color: var(--color-bg-ambient-30);
  border-bottom: solid var(--color-grey-40);
  color: var(--color-green-70);
  display: flex;
  justify-content: flex-end;
  position: relative;
  align-items: center;
  gap: 0.2em;
  padding: 0em 1em 0em 0em;
  overflow: hidden;

  button {
    text-decoration: none;
    background-color: var(--color-bg-ambient-10);
    color: var(--color-green-70);
    font-size: 10px;
    padding: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-sans);
    max-width: 60px;
    max-height: 44px;
  }
}

@mixin button($text, $background) {
  border: 0;
  font-weight: lighter;
  padding: 8px;
  margin: 8px;
  border-radius: var(--border-radius);
  text-decoration: none;
  color: $text;
  background-color: $background;
  cursor: pointer;
  font-family: var(--font-serif);
  height: 40px;
  line-height: 1.5;

  &:focus {
    background-color: $background;
  }
}

.primary-action {
  @include button(white, var(--color-green-70));
  &:hover:not([disabled]) {
    background-color: var(--color-green-90);
  }
}

.delete-action {
  @include button(white, var(--color-error-40));
}

.secondary-action {
  @include button(var(--color-green-80), var(--color-green-20));
}

@mixin border() {
  background-color: var(--color-bg);
  border-style: double;
  border-color: var(--color-grey-100);
  border-width: 3px;
}

.field {
  font-family: var(--font-serif);
  margin-top: 16px;
  margin-bottom: 16px;

  br {
    display: block;
  }

  label {
    vertical-align: middle;
  }
}

.no-decoration {
  text-decoration: none;
}

.next {
  width: 40px;
  height: 48px;
  border-radius: 4px;
  border: 1px solid var(--color-grey-50);
  outline: 1px solid var(--color-grey-30);
  outline-offset: 1.5px;
  background-color: white;
  position: absolute;
  right: 0;
  top: 0;
  margin: auto 0;
  box-sizing: content-box;

  svg {
    width: 24px;
    height: 24px;
    margin: 12px 8px;
    fill: var(--color-green-50);
  }
}

div.label-with-input {
  display: flex;
  flex-direction: column;

  input,
  select {
    margin-top: 0;
  }
}
