.dropdown {
  .dropdown-content {
    border-radius: var(--border-radius);
    visibility: hidden;
    position: absolute;
    background-color: var(--color-bg);
    border: 1px solid var(--color-bg-secondary);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow) var(--color-shadow);
    color: var(--color-text);
    padding: 0.2rem;
    font-size: 80%;
    top: 0;
    left: 0;
    z-index: 1000;

    a {
      text-decoration: none;
      padding: 3px 6px;

      &:hover {
        color: var(--color-grey-50);
      }
    }
  }

  &.is-active > .dropdown-content {
    visibility: visible;
  }

  &.is-active .chevron::after {
    content: url("data:image/svg+xml;utf-8,<svg width='12' height='12' xmlns='http://www.w3.org/2000/svg'><path d='M7.723 5.584a.5.5 0 0 1 .467-.047l.087.047 3 2a.5.5 0 0 1-.475.875l-.08-.043L8 6.601 5.277 8.416a.5.5 0 0 1-.636-.068l-.057-.07a.5.5 0 0 1 .068-.637l.07-.057 3-2Z' fill='currentcolor' fill-rule='evenodd'/></svg>");
  }

  &:not(.is-active) .chevron::after {
    content: url("data:image/svg+xml;utf-8,<svg width='12' height='12' xmlns='http://www.w3.org/2000/svg'><g fill='none' fill-rule='evenodd'><path d='M0 0h16v16H0z'/><path d='M10.723 6.584a.5.5 0 0 1 .625.775l-.07.057-3 2a.5.5 0 0 1-.468.047l-.087-.047-3-2a.5.5 0 0 1 .475-.875l.08.043L8 8.398l2.723-1.814Z' fill='currentcolor'/></g></svg>");
  }
}
