// Sassy
@use "common";
@use "new_layer";
@use "roles";

// NAVIGATION
nav {
  height: var(--nav-height);
  border-bottom: 0.5px solid var(--color-grey-40);
  border-top: none;
  border-left: none;
  border-right: none;
  h1 {
    font-size: 200%;
    letter-spacing: -0.58px;
  }
}

span {
  font-family: var(--font-serif);
  color: var(--color-grey-90);
  line-height: 1.143px;
  cursor: pointer;
}

span:active {
  color: var(--color-grey-60);
}

.dropdown-content-app {
  @include common.border;
  position: fixed;
  z-index: 3;
  display: none;
  box-shadow: var(--box-shadow) var(--color-shadow);
  line-height: 1.25px;
  overflow: visible !important;
  a {
    text-decoration: underline;
    padding-bottom: 1.2em;
    font-size: 14px;
    padding-top: 0.4em;
    &:hover {
      color: var(--color-grey-60);
    }
  }
}

.dropdown.is-active > .dropdown-content-app {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px 20px 0px 20px;
  margin-top: 1em;
}

.header-subs-app {
  background-color: var(--color-green-20);
  color: var(--color-green-80);
  font-size: 14px;
  padding: 5px;
  font-weight: lighter;
  border-radius: var(--border-radius);
  text-decoration: none;
  margin-left: 5rem;
}

footer {
  text-align: center;
  background-color: var(--color-bg-ambient-30);
  font-size: 14px;
  padding-top: 0.5em;
  letter-spacing: 1.143px;
  font-family: var(--font-serif);
  position: fixed;
  width: 100%;
  bottom: 0rem;
  color: var(--color-grey-60);
}

/* TABLES */
table {
  * {
    padding: 0 0.1rem;
  }

  margin: 0 1rem;
  border-collapse: collapse;
  border-radius: 6px;
  border: solid 1px var(--color-grey-50);
  display: inline-block;
  max-width: fit-content;
  overflow-x: auto;
  overflow-y: scroll;
  white-space: nowrap;
  margin-bottom: 0.1em;

  td,
  th {
    text-align: center;
    font-size: 12px;
    border: solid 1px var(--color-grey-50);
    border-bottom-width: 0px;
    border-left-width: 0px;
    height: 24px;

    input:focus {
      background-color: RGBA(215, 233, 221, 0.5);
      outline: 2px solid var(--color-grey-40);
    }
    span {
      width: 100%;
      padding: 0;
      margin: 0;
    }
  }

  .resizable th {
    resize: horizontal;
    overflow-x: auto;
  }
  th:last-child,
  td:last-child {
    border-right-width: 0px;
  }

  td input {
    border: 0;
    width: 100%;
    box-shadow: none;
    height: 24px;
  }

  thead {
    background-color: var(--color-grey-20);
    color: var(--color-grey-80);
    height: 32px;
    th {
      border-top-width: 0px;
    }
  }

  button {
    margin: 0;
  }

  .table-head {
    font-family: var(--font-serif);
    letter-spacing: 0.8px;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 0.2em;
    text-decoration-color: var(--color-grey-50);
    font-weight: 400;
    cursor: pointer;
  }
}

.numerical {
  font-family: var(--font-mono);
  text-align: right;
}

/* MAP */
.data-with-map {
  height: calc(100vh - var(--nav-height) - var(--footer-height));
  bottom: 0;
  display: flex;
  width: 100%;
  position: relative;
}

.right-pane {
  width: 50%;
}

.data-with-map > .data {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.data .tooltip {
  position: absolute;
  padding: 16px;
  width: 320px;
  bottom: 300px;
  left: 200px;
  background-color: var(--color-info-10);
  color: var(--color-info-40);
  border-radius: var(--border-radius);
}

.data-with-map > .data > table {
  max-height: 100%;
}

.data-with-map > .map {
  width: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
  height: calc(100% - 66px);
}

.maplibregl-control-container.mapboxgl-control-container {
  right: 0;
  height: 651px;
}

.actions {
  display: flex;
}

.is-hidden {
  display: none;
}

input[readonly],
textarea[readonly] {
  background-color: var(--color-bg-ambient-20);
}

.search-result {
  border-radius: 5px;
  border: black;
  ul {
    list-style-type: none;
    text-align: start;
    li {
      cursor: pointer;
      font-family: var(--font-sans);
      &.active,
      &:hover {
        color: var(--color-green-60);
        text-decoration: underline;
      }
      mark {
        background-color: var(--color-attention-20);
      }
    }
  }
}

input.slim {
  height: 20px;
}

.slim {
  font-size: 12px;
}

radio.slim {
  font-size: 12px;
  max-height: 10px;
}

.submit_form.slim {
  padding: 0.1rem 0.2rem;
}

#error_explanation {
  background-color: var(--color-attention-20);
  font-size: 12px;
  border-radius: var(--border-radius);
  padding: 1rem 2rem;
}

#error_explanation h2 {
  font-size: 16px;
  color: var(--color-green-100);
}

.field_with_errors {
  background-color: var(--color-attention-30);
  display: inline-block;
}

.dragbar {
  background-color: white;
  color: var(--color-grey-70);
  border-style: none solid none solid;
  border-width: 1px;
  height: 100%;
  width: 6px;
  z-index: 2;
  position: relative;
  cursor: ew-resize;
}

.svg-dragbar {
  height: 26px;
  width: 26px;
  position: absolute;
  bottom: 12rem;
  left: 50%;
  transform: translate(-50%, 0px);
  pointer-events: none;
}

.svg-dragbar:active {
  background-color: var(--color-green-60);
}

.editable {
  cursor: pointer;
  font-family: var(--font-serif);
  color: var(--color-grey-90);
  font-size: 24px;
}

.editable:after {
  content: "🖋";
}

.map button {
  margin: 0;
  border-radius: 0;
  border-color: var(--color-grey-30);
}

.layer-toolbar {
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
  gap: 1em;
  margin-right: 3em;
  margin-top: 2em;
  margin-bottom: 3em;
}

#layer-header {
  font-family: var(--font-serif);
  letter-spacing: -0.2px;
  padding-top: 1em;
}

.maplibregl-ctrl-group {
  display: flex;
  flex-direction: row-reverse;
  border-style: double;
}

.maplibregl-ctrl-group:not(:empty) {
  box-shadow: none;
}

.table-show {
  margin-top: 2em;
}

.main-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding: 1em 2em;

  a {
    font-size: 15px;
    text-decoration: none;
    background-color: var(--color-bg-ambient-10);
    padding: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 44px;
    gap: 0.3em;
  }
  .main-actions-right {
    display: flex;
    flex-direction: row;
    gap: 0.2em;
  }
}
.main-list {
  padding: 1em 4em;

  h2 {
    margin: 0;
    margin-bottom: 1em;
    text-align: left;
  }

  p {
    color: var(--color-grey-60);
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .main-element {
    margin-bottom: 2em;
    width: 720px;
    border-bottom: 1px solid var(--color-grey-40);
    padding-bottom: 2em;
    position: relative;
  }
}

.color-marker {
  width: 8px;
  height: 16px;
  display: inline-block;
  border-radius: 4px;
}

.new-territory {
  display: flex;
  margin: 1rem;
  gap: 2rem;
  align-items: center;
}
