<%# params: field %>
<%# renders an destroyable table header for a given field. Used in layers/rows_rw %>

<th
  class="field-<%= field.id %> dropdown table-head"
  data-controller="dropdown"
  aria-haspopup="true"
  aria-controls="dropdown-menu"
  data-dropdown-target="trigger"
  data-action="click->dropdown#toggle">
  <span class="chevron"><%= field.label %></span>
  <div class="dropdown-content" role="menu" data-dropdown-target="content">
    <%= button_to field, method: :delete, form_class: "level-item" do %>
      <span><%= t("helpers.link.field.delete") %></span>
    <% end %>
  </div>
</th>
