<!DOCTYPE html>
<html>
<head>
  <title><%= t("common.app_title") %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link href='https://unpkg.com/maplibre-gl@2.1.7/dist/maplibre-gl.css' rel='stylesheet'>
  <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.3.0/mapbox-gl-draw.css' type='text/css'>
  <%= javascript_importmap_tags %>
  <%= stylesheet_link_tag "application.css", "data-turbo-track": "reload" %>
</head>

<body>
<nav>
  <h1><%= link_to t("common.app_title"), user_signed_in? ? maps_path : root_path %></h1>
  <div id="flash">
    <%= render "layouts/flash" %>
  </div>
  <div class="header-right">
    <% if user_signed_in? %>
    <div class="dropdown" data-controller="dropdown">
      <span class="chevron" aria-controls="dropdown-menu" data-action="click->dropdown#toggle" data-dropdown-target="trigger"><%= current_user.email %></span>
      <div class="dropdown-content-app" data-dropdown-target="content">
        <%= link_to "Français", url_for(locale: :fr) %>
        <%= link_to "English", url_for(locale: :en) %>
        <%= link_to t(".preferences"), edit_user_registration_url %>
        <%= button_to t(".sign_out"), destroy_user_session_path, method: :delete, class: "header-subs-app" %>
      </div>
    </div>
    <% else %>
      <%= link_to t(".sign_in"), new_user_session_path, class: "secondary-action" %>
      <%= link_to t(".sign_up"), new_user_registration_path, class: "primary-action" %>
    <% end %>
  </div>
</nav>
<main>
  <%= yield %>
</main>
<footer>
  <p><%= t(".footer_html") %></p>
</footer>
</body>
</html>
