<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <%= stylesheet_link_tag "main.css" %>
  </head>

  <body>
  <div class="main-text-landing">
    <%= yield %>
  </div>
  </body>
</html>
