<%# params: row %>
<%# renders a hidden form for a new Row with connectors to stimulus controllers. Used in layers/edit %>
<% if row.layer.geometry_territory? %>
  <div
    class="new-territory"
    data-controller="new-territory">
   <%= render "territories/search_form", form_id: "new_territory_form", field: "row[territory_id]", territory: nil, layer_id: row.layer.id %>
    <%= form_with model: [row.layer, row], id: "new_territory_form", data: {"new-territory-target": "form"} do |form| %>
      <%= form.hidden_field :layer_id %>
      <%= form.submit t("helpers.link.territory.new"), class: "new-territory primary-action", disabled: true, data: {"new-territory-target": "submit", action: "new-territory#save"} %>
    <% end %>
  </div>
<% else %>
  <%= form_with model: [row.layer, row], data: {"map-target" => "newRowForm"}, class: "is-hidden" do |form| %>
    <%= form.hidden_field :geojson, data: {"map-target" => "geojsonField"} %>
    <%= form.submit %>
  <% end %>
<% end %>
