<%# params: row %>
<%# renders a non-editable row in a table. used in layers/rows_ro %>

<tr id="<%= dom_id(row) %>"
    data-controller="row">
  <% if row.layer.geometry_territory? %>
    <td>
      <%= row.territory %>
      <%= hidden_field_tag "geojson", row.territory.geojson, data: {"row-target": "geojson"} %>
    </td>
  <% else %>
    <%= hidden_field_tag "geojson", row.geojson, data: {"row-target": "geojson"} %>
  <% end %>
  <% row.fields_values.each do |field, value| %>
    <% if field.numerical? %>
      <td class="numerical"><%= value %></td>
    <% elsif field.boolean? %>
      <td><%= check_box_tag "row[#{field.id}]", "boolean", value, disabled: true %></td>
    <% else %>
      <td><%= value %></td>
    <% end %>
  <% end %>
</tr>
