<%# params: @row, @layer, @anonymous, @values %>

<section class="section">
  <div class="container">
    <h1><%= t(".new_row_description") %></h1>
    <p><%= t(".new_row_explanation") %></p>
    <%= render "form", row: @row, layer: @layer, anonymous: @anonymous, values: @values %>
  </div>
</section>
